<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ContactsVue</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <header>
      <img src="logo.png" alt="Vue">
      <form>
        Поиск по всем полям: <input v-model="searchQuery" />
      </form>
    </header>
    <table>
      <thead>
        <tr>
          <th v-for="key in columns">
            {{ key }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="data in filter">
          <td v-for="key in columns">
            {{ data[key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="script.js"></script>
</body>

</html>